* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  font-family: sans-serif;
}

#root {
  height: 100vh;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 3fr;
}

.app__title {
  font-size: 2.5rem;
  text-align: center;
  color: #fff;
}

aside {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #222222;
  padding-top: 2rem;
}

.form__div {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin-top: 2rem;
}

input {
  border-radius: 0.5rem;
  font-size: 2rem;
  padding: 1rem 2rem;
  margin-bottom: 1rem;
  align-self: flex-start;
  width: 80%;
}

select {
  border-radius: 0.5rem;
  font-size: 2rem;
  padding: 1rem 2rem;
  margin-bottom: 1rem;
  align-self: flex-start;
}

.form__btn {
  border-radius: 3rem;
  font-size: 2rem;
  padding: 1rem 2rem;
  align-self: flex-start;
}
.x-btn {
  padding: 1rem 1.5rem;
  text-transform: uppercase;
}

.btn-div {
  display: flex;
  align-items: center;
  margin-top: 3rem;
  gap: 1rem;
}

.info__div {
  margin-top: 2rem;
}

.info {
  font-size: 1.4rem;
  align-self: flex-start;
  color: #fff;
}

@media (max-width: 800px) {
  #root {
    display: flex;
    flex-direction: column;
  }
  .form__div {
    align-items: center;
    margin-bottom: 1rem;
  }

  input {
    width: 100%;
  }

  select {
    align-self: center;
  }
}
